<app-navbar></app-navbar>

<div class="container">


    <h1>{{data.title}}</h1>

    <!-- <div *ngIf="this.check === false" >
      <img *ngFor="let site of providers.results.ES.flatrate"  src="{{haha + site.logo_path}}" alt="">
    </div> -->


    <p>{{data.overview}}</p>
    <div class="d-flex">
      <p>Géneros: </p>
      <p *ngFor="let genre of data.genres">{{genre.name}}</p>
    </div>

    <div *ngFor="let type of this.videos.results">
      <div *ngIf="type.type === 'Trailer'">
        <youtube-player videoId="{{type.key}}"> </youtube-player>
      </div>
    </div>






    <img class="poster" src="{{haha+data.poster_path}}" alt="">

</div>


<app-footer></app-footer>
