<section class="h-100 vertical-center main">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-6">
        <div class="card rounded-3 text-black">
          <div class="row">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text center">
                  <h1 class="text-center logo">CinemaPlus+</h1>
                  <h4 class="mt-1 mb-5 pb-1 text-center">Bienvenido a CinemaPlus+</h4>
                </div>
                <form [formGroup]="formReg" (ngSubmit)="onSubmit()">
                  <p>Registrar</p>

                  <div class="form-outline mb-4">
                    <input type="text" id="formUser" class="form-control" placeholder="Usuario" formControlName="email" />
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="formPassword" class="form-control" placeholder="Contraseña" formControlName="password"/>
                  </div>

                  <div class="text-center pt-1 mb-2 pb-1">
                    <button class="btn btn-light btn-block text-white gradient fa-lg mb-3" type="submit" value="Enviar">REGISTRARSE</button>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-2">
                    <a role="button" class="btn btn-outline-danger" href="">Volver a home</a>
                  </div>
                </form>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
